.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.features__text-block {
  &--accent {
    background-color: rgb(129, 179, 210);
    color: #ffffff;
  }
}


.features__advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
