.main-hero {
  background-color: @blue-300;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;

  .tablet({
    height: 400px;
    background-image: url("../img/hero-tablet.jpg");
    padding-top: 77px;
  });

  .desktop({
    background-image: url("../img/hero-desktop.jpg");
  });
}

.main-hero__image {
  display: block;
  margin: 0 auto;
}
