.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;
}

.site-list__item {
  background-color: rgb(129, 179, 210);
}


.site-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
