.site-list {
  .clear-list;
}

.site-list__item {
  background-color: @blue-400;
  box-shadow: 0 1px 0 0 @black-02,
    inset 0 1px 0 0 @white-02;

  .tablet({
    box-shadow: none;
    min-width: 153px;
    background-color: @white;

    &:nth-child(2){
      margin-right: 153px;
    }
  });

  .desktop(
    {
      &:nth-child(2){
        margin-right: 0;
      }
    }
  );
}

.site-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: @white;
  text-transform: uppercase;
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;

  .tablet({
    background-color: @white;
    color: @black;
    padding: 18px 0;
    font-size: 14px;
    line-height: 21px;

    &--current {
      color: @brown-current;
    }
  });
}
